body {
    background-image: url('../img/background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
h2, h3, p, label, div {
    font-family: 'Maecenas Light', Arial, Helvetica, sans-serif;
}
p {
    font-size: 1.2rem;
}
h3 {
    color: #1d5969;
    font-weight: 800;
}
.bold {
    font-weight: 700;
}
.citation {
    font-style: italic;
}
.list-inline {
    display: flex;
    margin-top: 20px;
}
.list-inline > li {
    margin-right: 20px;
}
.select {
    color: #1d5969;
}
section {
    margin: 0 auto;
    width: 80%;
    margin-top: 20px;
}
ul {
    list-style: none;
    padding-left: 0;
}
.contour-back::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    border-top: solid 15px transparent;
    border-right: solid 20px #1d5969;
}
.contour-back {
    position: relative;
    border: solid 2px #1d5969;
    padding: 4px;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 25px;
}
.bloc-text {
    border-left: solid 2px #1d5969;
    border-radius: 32px;
    border-bottom-left-radius: 22px;
    background-image: url('../img/fond-ecran.png');
    background-size: 100% 100%;
    color: black;
}
.bloc-text::after {
    content: '';
    border-top: solid 20px #d0d9dfe6;
    border-right: solid 27px transparent;
    border-left: solid 30px #d0d9dfe6;
    border-bottom-left-radius: 30px;
    display: block;
}
.bloc-text>*:first-child {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.bloc-text h2 {
    background-color: #1d5969;
    margin: 0;
    padding: 25px 20px 15px;
    color: white;
}

.bloc-text > * {
    background-color: #d0d9dfe6;
    margin: 0;
    padding: 12px 25px;
}
label {
    color: #1d5969;
    font-weight: 700;
}

/* SECTION fondation_description */

/* SECTION fondation_characters */
#fondation_characters .bloc-text > div {
    display: flex;
    align-items: center;
}
#fondation_characters .bloc-text div.img-character {
    width: 160px;
    text-align: center;
}
#fondation_characters .bloc-text .character div.img-character {
    margin-right: 30px;
}
#fondation_characters .bloc-text div.description-character h3 {
    margin-top: 10px;
}

#fondation_characters .bloc-text div.description-character ul {
    margin-top: 30px;
}
#fondation_characters .bloc-text div.description-character ul > li {
    text-align: center;
}
#fondation_characters .bloc-text div.description-character ul > li div {
    padding-top: 10px;
    font-weight: 700;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    section {
        width: 100%;
        margin: 15px;
    }
    #fondation_characters .bloc-text > div {
        flex-direction: column;
    }
    #fondation_characters .bloc-text div.description-character {
        text-align: center;
    }
    .list-inline > li:last-child {
        margin-right: 0;
    }
    #fondation_characters .bloc-text div.description-character ul {
        display: flex;
        justify-content: center;
    }
    p {
        font-size: 1rem;
    }
}